body { background-color: #C0D3FA; font-family: cochin; }
.description { font-style: italic; }
.position { font-size: 110%; font-weight: bold; }
.centered-text { text-align: center; }
IMG.centered {
    display: block;
    margin-left: auto;
    margin-right: auto }

